woven_code
*.o
*.exe
a.out
*.elf
vitis_hls.log
~$Results.xlsx
solution1/syn
solution1/impl
solution1/.autopilot
solution1/.debug
*converted.bmp
syn
Emulation-SW
Emulation-HW
Hardware
output*.dat
bin-generic
bin-specialized
*.bkp
~$*
.autopilot
impl
.vscode
logs
OmpSs/example_print/reverse_print_ait/

OmpSs/example_print/bar_hls_automatic_clang.cpp

OmpSs/example_print/extracted.json.part

OmpSs/example_print/foo_hls_automatic_clang.cpp

OmpSs/example_print/reverse_print-d

OmpSs/example_print/reverse_print-i

OmpSs/example_print/reverse_print-p

OmpSs/example_print/vivado.jou

OmpSs/example_print/vivado.log
